.user {
	display: flex;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 20px;
	margin-right: 10px;
}

.user-name {
	color: blue;
	font-weight: 400;
}
.main-button {
	background-color: goldenrod;
	width: 100px;
	height: 25px;
	border: 1px solid green;
	border-radius: 5px;
}
